html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: rgb(16, 16, 230);
    color: var(--text-color);
    padding: 1rem;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 100vh;           /* Faz o body ocupar a altura total da tela */
    margin: 0;
}
  
.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px; /* Reduz a largura máxima para 400px */
    width: 100%;
    text-align: center; /* Centraliza o conteúdo */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os inputs horizontalmente */
}

p-floatLabel {
    width: 100%; /* Garante que os labels e inputs ocupem toda a largura disponível */
    max-width: 300px; /* Define um tamanho máximo para os inputs */
}

p-floatLabel input {
    width: 100%; /* Faz os inputs ocuparem toda a largura do p-floatLabel */
}