<!-- <p-dialog header="Candidatos"   [width]="400">
    <p *ngIf="!candidatos || candidatos.length === 0">Nenhum candidato para esta vaga.</p>
    <ul *ngIf="candidatos && candidatos.length > 0">
        <li *ngFor="let candidato of candidatos">{{ candidato.nomeUsuario }}</li>
    </ul>
    <p-footer>
        <button type="button" pButton icon="pi pi-times"  label="Fechar"></button>
    </p-footer>
</p-dialog> -->

<!-- <p-table [value]="candidatos" responsiveLayout="scroll" [paginator]="true" [rows]="5">
    <p *ngIf="!candidatos || candidatos.length === 0">Nenhum candidato para esta vaga.</p>
    <ul *ngIf="candidatos && candidatos.length > 0">
        <li *ngFor="let candidato of candidatos">{{ candidato.nomeUsuario }}</li>
    </ul>
    <p-footer>
        <button type="button" pButton icon="pi pi-times"  label="Fechar"></button>
    </p-footer>
</p-table> -->