<p-menubar *ngIf="vValidaMenu" [model]="items" [style]="{'background-color':'#ffffff'}">
  <ng-template pTemplate="start">
      <img src="assets/logo_pacto_solucoes.png" class="mr-2 img-menu" />
  </ng-template>
  <ng-template pTemplate="end">
    <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" size="large" shape="circle"></p-avatar>
    <!-- <strong styleClass="mr-2">{{usernameAndToken?.username}}</strong> -->
  </ng-template>
</p-menubar>
<div class="card" *ngIf="vValidaMenu">
  <p-button *ngIf="admin" styleClass="p-button-raised p-button-success btn-cadastrar" class="btn-cadastrar" (click)="openCadastroDialog()" icon="pi pi-plus" label="Cadastrar Vaga"></p-button>
  <p-button *ngIf="!admin"styleClass="p-button-raised p-button-success btn-cadastrar" [loading]="loading"class="btn-cadastrar" (click)="openVagasDialog()" icon="pi pi-eye" label="Minhas Vagas"></p-button>
  <p-table
      [value]="vagas"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
  >
      <ng-template pTemplate="header">
          <tr>
              <th style="width:10%">Titulo</th>
              <th style="width:70%">Descrição</th>
              <th style="width:5%">Candidatos</th>
              <th style="width:15%; text-align: center">Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vaga>
          <tr>
              <td>{{ vaga.tituloVaga }}</td>
              <td>{{ vaga.descricaoVaga }}</td>
              <td style="text-align: center;">{{ vaga.cadidatos.length }}</td>
              <td *ngIf="!admin" style="text-align: center;">
                <button (click)="candidatar(vaga.idVaga)" type="button" pButton  label="Candidate-se"  class="p-button-rounded p-button-text"></button>      
              </td>
              <td *ngIf="admin" style="text-align: center;">
                <button  type="button" pButton  label="Candidatos"  (click)="openCandidatosDialog(vaga.cadidatos)" class="p-button-rounded p-button-text"></button>      
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
<p-toast *ngIf="vValidaMenu"></p-toast>

<router-outlet></router-outlet>